html, body {
    margin: 0%;
    padding: 0%;
}

ul, li {
    text-decoration: none;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 22px;
}

body {
    font-family: 'Roboto', sans-serif;
 }

header {
    padding: .5rem;
    background-color: #FFE60F;
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.search {
    margin: 0 1rem;
    transform: scale(.8);
}

.register {
    border: 0.02rem solid #32333d;
    font-weight: 700;
    border-radius: 5px;
    background-color: #292a33;
    color: #FFE60F;
    padding: 5px;

}

.login {
    border: 0.02rem solid #32333d;
    border-radius: 5px;
    color: #292a33;
    font-weight: 700;
    padding: 5px;
    background: none;
}

.more {
    padding: 0 .5rem 2rem .5rem;
    background-color: #FFE60F;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    width: 100%;
}

.icon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    background-color: rgba(157, 157, 157, 0.286);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-list > li > * {
    transform: scale(.6);
    margin: 0%;
}

.icon-list > li {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.fix {

}

.container:hover {
    background-color: rgb(63, 185, 63);
}

.spades {
    color: #fff;
}

.text {
    font-size: 19px;
    margin-top: 2rem;
}


.promo {
    /* transform: scale(.5); */
    /* scale: .5; */
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin: 0%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

.promo > img {
   scale: .6;
}

.main {
    margin-top: 3rem;
}

.menus{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    font-size: 17px;
}

.menus > li > img {
    scale: .6;
}

.grid {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    gap: .7rem;
    /* grid-template-rows: repeat(1000, 135px); */
}

.grid > img {
    border-radius: 1rem;
    max-width: 190px;
    /* scale: .6; */
 }